<a href="https://colab.research.google.com/github/melissakirabo/Hamoye-DataScience-Internship/blob/main/Introduction_to_Python_for_Machine_Leanring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#importing libraries
import pandas as pd
import io

In [15]:
#importing of the dataset
from google.colab import files
uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv

In [19]:
food_data = pd.read_csv(io.BytesIO(uploaded['FoodBalanceSheets_E_Africa_NOFLAG.csv']), encoding='latin-1')

In [20]:
food_data.head()

   Area Code     Area  Item Code  ...     Y2016     Y2017     Y2018
0          4  Algeria       2501  ...  40551.00  41389.00  42228.00
1          4  Algeria       2501  ...      0.00      0.00      0.00
2          4  Algeria       2901  ...   3372.00   3341.00   3322.00
3          4  Algeria       2901  ...     94.72     92.82     91.83
4          4  Algeria       2901  ...     77.40     80.19     77.28

[5 rows x 12 columns]

In [21]:
food_data.describe()

          Area Code     Item Code  ...          Y2017          Y2018
count  60943.000000  60943.000000  ...   59437.000000   59507.000000
mean     134.265576   2687.176706  ...     140.917765     143.758381
std       72.605709    146.055739  ...    1671.862359    1710.782658
min        4.000000   2501.000000  ...   -1582.000000   -3396.000000
25%       74.000000   2562.000000  ...       0.000000       0.000000
50%      136.000000   2630.000000  ...       0.100000       0.070000
75%      195.000000   2775.000000  ...       9.000000       9.000000
max      276.000000   2961.000000  ...  190873.000000  195875.000000

[8 rows x 8 columns]

In [24]:
#question 11
food_data.groupby('Item')['Y2014'].sum()

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [25]:
#question 11
food_data.groupby('Item')['Y2017'].sum()

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

In [27]:
#question 12

TypeError: ignored

In [29]:
#question 13 - missing data
food_data.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [30]:
#question 14 - highest correlation with element code

In [33]:
#question 15, 16 - highest sum of import qty
food_data.groupby('Element').sum()

                                        Area Code  ...       Y2018
Element                                            ...
Domestic supply quantity                   708993  ...  2161192.10
Export Quantity                            599910  ...   181594.80
Fat supply quantity (g/capita/day)         675050  ...    10258.69
Feed                                       176272  ...   233489.68
Food                                       663295  ...  1303841.28
Food supply (kcal/capita/day)              674057  ...   455261.00
Food supply quantity (kg/capita/yr)        658446  ...    49056.85
Import Quantity                            688174  ...   287997.09
Losses                                     274353  ...   163902.00
Other uses (non-food)                      235554  ...    91300.97
Processing                                 271940  ...   308429.00
Production                                 526751  ...  2075072.89
Protein supply quantity (g/capita/day)     675050  ...    11833.56
Residuals                                  623271  ...    34864.00
Seed                                       103537  ...    25263.14
Stock Variation                            571566  ...    20577.91
Total Population - Both sexes                6020  ...  1140605.00
Tourist consumption                         50308  ...       90.00

[18 rows x 8 columns]

In [34]:
#question 17, 18
food_data.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [38]:
#question 19
food_data.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [44]:
#question 20
len(food_data['Area Code'].unique())

49